<% unless @user.errors.full_messages.empty? %>

  <% @user.errors.full_messages.each do |msg| %>
    <p>
      <%= msg %>
    </p>
  <% end %>

<% end %>

<%= form_for @user do |f| %>
  <p>
    <%= f.label :first_name %>
    <%= f.text_field :first_name, { required: true, :value => @user.first_name } %>
  </p>
  <p>
    <%= f.label :last_name %>
    <%= f.text_field :last_name, { required: true, :value => @user.last_name } %>
  </p>

  <p>
    <%= f.label :email %>
    <%= f.email_field :email, required: true %>
  </p>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password, required: true %>
  </p>
  <p>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, required: true %>
  </p>

  <%= f.submit %>
<% end %>
