<p id="notice"><%= notice %></p>
<p class="text-success"><%= flash[:success] %></p>
<p class="text-danger"><%= flash[:signup_error] %></p>
<h1>Your profile</h1>

<hr>
<div class="usr-profile">
  <p>
    <strong>First name:</strong>
    <%= @user.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= @user.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-default" %>
  <%= link_to 'Back', root_path, class: "btn btn-default" %>

  <% if(@user.is_admin == true) %>
    <%= link_to("Create Account", new_user_path(), class: "btn btn-default")%>
  <% end %>

  <hr>

  <h2>Your Account</h2>
  <table class="table table-striped ">
    <th>Profile</th>
    <th></th>
    <% @posts.each do |p| %>
    <tr>
      <td>
        <%= link_to(p.name, user_path(p.id)) %>
      </td>

      <td>
        <%= form_tag("/postss", method: :delete) do%>
            <%= hidden_field_tag "event_id", :post_id, :value => p.id %>
            <%= submit_tag("Delete post", class: "btn btn-default")%>
        <% end %>
      </td>
    <tr>
    <% end %>

  </table>
</div>
