<%= form_for @post do |f| %>
<% if @post.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(post.errors.count, "error") %>
    prohibited this post from being saved:</h2>

  <ul>
    <% @post.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<script>
  var editor = new MediumEditor('.editable', {
    // options go here
    allowMultiParagraphSelection: true,
        buttons: ['bold', 'italic', 'underline', 'anchor', 'h2', 'h3', 'quote'],
        diffLeft: 0,
        diffTop: -10,
        firstButtonClass: 'medium-editor-button-first',
        lastButtonClass: 'medium-editor-button-last',
        relativeContainer: null,
        standardizeSelectionStart: false,
        static: false,


        /* options which only apply when static is true */
        align: 'center',
        sticky: false,
        updateOnEmptySelection: false
  });
</script>

<div class="field">
  <%= f.label :title %>
  <%= f.text_area :title %>
</div>

<div class="field">
  <%= f.label :content %>
  <%= f.text_area :content %>
</div>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>
