<p id="notice"><%= notice %></p>

<h1>Posts</h1>

  <%= link_to 'New Post', new_post_path %>

  <br>

<tbody>
  <% @posts.each do |post| %>

  <ul>

    <div><%= post.title %></div>
    <span class="more"><%= post.content %> </span>

    <div><%= link_to 'Show', post %></div>

  </ul>

  <% end %>

</tbody>
</table>
