<!-- <p id="notice"><%= notice %></p> -->

<h1><%= link_to 'create a new post...', new_post_path %>
</h1>

<div class="backg">

  <br>

  <hr>

  <tbody>
    <% @posts.each do |post| %>

    <ul>
      <div>
        <h1><%= link_to post.title, post %></h1>
      </div>
      <span class="more"><%= post.content %>
      </span>
      <div><%= link_to 'Read more...', post %></div>
    </ul>

    <div class="gap"></div>

    <% end %>

  </tbody>
</table>
</div>
