<p id="notice"><%= notice %></p>

<div class="backg">

  <h1>Posts</h1>

  <%= link_to 'New Post', new_post_path %>

  <br>

  <hr>

  <tbody>
    <% @posts.each do |post| %>

    <ul>
      <div><%= link_to post.title, post %></div>
      <span class="more"><%= post.content %>
      </span>
      <div><%= link_to 'Read more...', post %></div>
    </ul>

    <div class="gap"></div>

    <% end %>

  </tbody>
</table>
</div>
