<!DOCTYPE html>
<html>
  <head>
    <title>Vision</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="js/medium-editor.js"></script>
    <script>var editor = new MediumEditor('.editable');</script>

  </head>

  <body>

    <%= flash[:error] %>

    <nav class="main-nav">
      <% if @current_user %>
      <%= link_to(user_path(@current_user.id)) do %>Hello, <%=@current_user.first_name%>
      <%= link_to "Edit Profile", edit_user_path(@current_user) %>
      <%= link_to "Log Out", "/logout", method: :delete %>
      <% end %>
    <% else %>
      <%= link_to "Login", "/login" %>
      <%= link_to "Sign Up", "/users/new" %>
      <% end %>
    </nav>

<hr>

    <%= yield %>

    <script>
      <% if @current_user %>
        var userID = <%= @current_user.id %>;
      <% end %>
    </script>
  </body>
</html>
