<!DOCTYPE html>
<html>
  <head>
    <title>Vision</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= flash[:error] %>

    <nav class="main-nav">
      <% if @current_user %>
      <%= link_to(user_path(@current_user.id)) do %>Hello,<%=@current_user.first_name%>
      <%= link_to "Edit Profile", edit_user_path(@current_user) %>
      <%= link_to "Log Out", "/logout", method: :delete %>
      <% end %>
    <% else %>
      <%= link_to "Login", "/login" %>
      <%= link_to "Sign Up", "/users/new" %>
      <% end %>
    </nav>

<hr>

<!-- <a class="navbar-brand" href="/">B-L-O-G__N-A-M-E__G-O-E-S__H-E-R-E</a> -->

    <%= yield %>
  </body>
</html>
